@import "common.scss";

@media (max-width: 560px) {
  #section01 {
    font-family: $noto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // header
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__text {
      font-size: $h1;
      font-weight: $w700;
      color: $gray;
    }

    .header__icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  // notice
  .notice {
    background: $white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.7rem;
    margin-top: 4%;
    border-radius: 0.8rem;

    .notice__icon {
      width: 2rem;
      height: 2rem;

      > svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .marquee-container {
      text-align: left;
      overflow: hidden;
      margin-left: 0.5rem;

      .marquee-overflow {
        width: 1000vw;
        font-size: 0px;

        .notice__text {
          font-size: $c1;
          font-weight: $w500;
          color: $black2;
          display: inline-block;
          animation: marquee 10s linear infinite running;
          transform: translate(0%);
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .slideInRight {
    animation-name: slideInRight;
  }

  // drive
  .drive {
    margin-top: 8%;
    width: 100%;

    .drive__user {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .drive__peo {
        > h2 {
          font-size: $b3;
          font-weight: $w500;
          letter-spacing: -0.02em;
          color: $gray;
        }

        .drive__peo-sit {
          > h1 {
            font-size: $h2;
            font-weight: $w700;
            letter-spacing: -0.05em;
            color: $gray;
          }
        }
      }

      .drive__slide {
        display: flex;

        .dot {
          width: 0.7rem;
          height: 0.7rem;
          background: $gray;
          border-radius: 3rem;
          margin: 0 0.3rem 0.4rem 0.3rem;

          .active {
            background: $black;
          }
        }
      }
    }

    // swiper
    .swiper-container {
      overflow: hidden;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        // drive__info
        .drive__info {
          color: $black2;
          background: $white;
          border-radius: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          padding: 2.5rem 2rem;
          margin-top: 3%;
          line-height: 1.1;
          height: 36vh;
        }

        // graph__info
        .graph__info {
          color: $black2;
          background: $white;
          border-radius: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          padding: 2.5rem 2rem;
          margin-top: 3%;
          line-height: 1.1;
          box-shadow: 7px 7px 7px 1px #00000005;
          height: 36vh;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;

          .graph {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-bottom: 1px solid $gray;
            padding: 0 1rem;
            margin-bottom: 1rem;

            .bar1 {
              width: 2.2rem;
              height: 14rem;
              background: $gray;
              border-radius: 5px 5px 0 0;
            }

            .bar2 {
              width: 2.2rem;
              height: 4rem;
              background: $gray;
              border-radius: 5px 5px 0 0;
            }

            .bar3 {
              width: 2.2rem;
              height: 9rem;
              background: $gray;
              border-radius: 5px 5px 0 0;
            }

            .bar4 {
              width: 2.2rem;
              height: 15rem;
              background: $gray;
              border-radius: 5px 5px 0 0;
            }

            .bar5 {
              width: 2.2rem;
              height: 10rem;
              background: $gray;
              border-radius: 5px 5px 0 0;
            }

            .bar6 {
              width: 2.2rem;
              height: 18rem;
              background: #535353;
              border-radius: 5px 5px 0 0;
            }
          }
        }

        // car__info
        .car__info {
          color: $black2;
          background: $white;
          border-radius: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          padding: 2.5rem 2rem;
          margin-top: 3%;
          line-height: 1.1;
          box-shadow: 7px 7px 7px 1px #00000005;
          height: 36vh;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
        }

        // promotion__info
        .promotion__info {
          color: $black2;
          background: $white;
          border-radius: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          padding: 2.5rem 2rem;
          margin-top: 3%;
          line-height: 1.1;
          box-shadow: 7px 7px 7px 1px #00000005;
          height: 36vh;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
        }
      }
    }
  }
  // graph
  .graph-ani {
    animation: graph-ani 1s ease-out;
  }

  @keyframes graph-ani {
    0% {
      height: 0%;
    }
    100% {
      visibility: visible;
    }
  }
}
