@import "common.scss";

@media (max-width: 480px) {
  #section1 {
    height: 70vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #card-container {
      position: relative; /* 위치 지정 기준 설정 */
      height: 70vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .card {
      position: absolute; /* 위치를 고정 */
      left: 0;
      width: 100%;
      height: 10rem;
      background: $gray;
      border-radius: 1rem;
      margin-bottom: 5%;
      transition: top 0.5s ease-in-out; /* top 속성 변경 시 애니메이션 효과 */
    }

    .highlight {
      background: #bfc5ff;
    }

    .move {
      animation: moveY 0.5s ease-in-out;
    }
  }

  @keyframes moveY {
    from {
      transform: translateY(-200%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
