@charset "UTF-8";
/* 스킵 메뉴 */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

/* 컨테이너 */
.container {
  width: 100%;
  /* max-width: 440px; */
  padding: 0 6%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 섹션 공통 요소 */
.section {
  padding: 120px 0;
}

.section > h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section > p {
  font-size: 22px;
  font-weight: 300;
  color: #666;
  text-align: center;
  margin-bottom: 70px;
  padding: 0 20px;
  word-break: keep-all;
  line-height: 1.5;
}

.section > span {
  display: block;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 16px;
}

/* 배경 */
.gray {
  background-color: #f5f5f5;
}

body {
  overflow: overlay;
  background: #f2f4f6;
}

/* fixed */
body.fixed {
  height: 100vh;
  overflow: hidden;
}

/* 간격 셋팅 */
.mb9 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt9 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.oneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.twoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.threeLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

:root {
  --font-kr: "NotoSansKR";
  --font-eng: "Roboto";
  --font-w100: 100;
  --font-w200: 200;
  --font-w300: 300;
  --font-w400: 400;
  --font-w500: 500;
  --font-w600: 600;
  --font-w700: 700;
  --font-w800: 800;
  --font-w900: 900;
  --lh1: 1;
  --black: #000;
  --white: #fff;
}

/* 변수 */
@media (max-width: 480px) {
  #animation {
    font-family: "NotoSansKR";
  }
  .card {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card .card1 {
    width: 80%;
    height: 10vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .card1 > h2 {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #3f53ff;
  }
  .card .card2 {
    width: 80%;
    height: 10vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  .card .card2 > h2 {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #3f53ff;
  }
  .card .card3 {
    width: 80%;
    height: 10vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  .card .card3 > h2 {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #3f53ff;
  }
  .fade-in {
    --from-opacity: 0;
  }
  .from-top {
    --from-y: -100%;
  }
  .from-left {
    --from-x: -100%;
  }
  .from-right {
    --from-x: 100%;
  }
  .from-bottom {
    --from-y: 100vh;
  }
  .move {
    animation: move-in 1.5s ease-in-out infinite;
    --from-x: -100%;
    --from-y: 0;
    --from-opacity: 0;
    color: #000;
  }
  .move-color {
    animation: move-color;
  }
}
@keyframes move-in {
  0% {
    transform: translate(var(--from-x), var(--from-y));
    opacity: var(--from-opacity);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes move-color {
  0% {
    color: #3f53ff;
  }
  100% {
    color: #000;
  }
}
@keyframes move-out {
  0% {
    transform: translate(var(--from-x), var(--from-y));
    opacity: var(--from-opacity);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}