@charset "UTF-8";
/* 스킵 메뉴 */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

/* 컨테이너 */
.container {
  width: 100%;
  /* max-width: 440px; */
  padding: 0 6%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 섹션 공통 요소 */
.section {
  padding: 120px 0;
}

.section > h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section > p {
  font-size: 22px;
  font-weight: 300;
  color: #666;
  text-align: center;
  margin-bottom: 70px;
  padding: 0 20px;
  word-break: keep-all;
  line-height: 1.5;
}

.section > span {
  display: block;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 16px;
}

/* 배경 */
.gray {
  background-color: #f5f5f5;
}

body {
  overflow: overlay;
  background: #f2f4f6;
}

/* fixed */
body.fixed {
  height: 100vh;
  overflow: hidden;
}

/* 간격 셋팅 */
.mb9 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt9 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.oneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.twoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.threeLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 변수 */
@media (max-width: 480px) {
  #section01 {
    font-family: "NotoSansKR";
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header__text {
    font-size: 2.2rem;
    font-weight: 700;
    color: #858c92;
  }
  .header .header__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .notice {
    background: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.7rem;
    margin-top: 4%;
    border-radius: 0.8rem;
  }
  .notice .notice__icon {
    width: 2rem;
    height: 2rem;
  }
  .notice .notice__icon > svg {
    width: 2rem;
    height: 2rem;
  }
  .notice .marquee-container {
    text-align: left;
    overflow: hidden;
    margin-left: 0.5rem;
  }
  .notice .marquee-container .marquee-overflow {
    width: 1000vw;
    font-size: 0px;
  }
  .notice .marquee-container .marquee-overflow .notice__text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #121212;
    display: inline-block;
    animation: marquee 10s linear infinite running;
    transform: translate(0%);
    margin: 0;
    padding: 0;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .slideInRight {
    animation-name: slideInRight;
  }
  .drive {
    margin-top: 8%;
    width: 100%;
  }
  .drive .drive__user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .drive .drive__user .drive__peo > h2 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.02em;
  }
  .drive .drive__user .drive__peo .drive__peo-sit > h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
  }
  .drive .drive__user .drive__slide {
    display: flex;
  }
  .drive .drive__user .drive__slide .dot {
    width: 0.7rem;
    height: 0.7rem;
    background: #858c92;
    border-radius: 3rem;
    margin: 0 0.3rem 0.4rem 0.3rem;
  }
  .drive .drive__user .drive__slide .dot .active {
    background: #ff7300;
  }
  .drive swiper-container {
    box-sizing: border-box;
  }
  .drive swiper-container swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drive swiper-container swiper-slide .drive__info {
    color: #fff;
    background: #0d3c6f;
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-top: 3%;
    line-height: 1.1;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-date {
    font-weight: 500;
    font-size: 1.9rem;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-date > span {
    font-size: 2rem;
    font-weight: 700;
    color: #ff7300;
    margin-right: 1%;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-date > em {
    font-size: 1.4rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-address {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid #858c92;
    padding-bottom: 6%;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-goal > ul {
    display: flex;
    justify-content: space-between;
    margin: 8% 0;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-goal > ul > li {
    font-size: 1.6rem;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-goal > ul > li:first-child {
    color: #858c92;
  }
  .drive swiper-container swiper-slide .drive__info .drive__info-goal > ul:last-child {
    margin: 0;
  }
  .choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .choice .choice__card-cargo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    background: #fff;
    padding: 2.5rem 0.5rem;
    border-radius: 1rem;
  }
  .choice .choice__card-cargo > svg {
    background: #f1f1f5;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .choice .choice__card-cargo > h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 13%;
  }
  .choice .choice__card-cargo > p {
    font-size: 1.2rem;
    color: #858c92;
    margin-top: 3%;
  }
  .choice .choice__card-sur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    background: #fff;
    padding: 2.5rem 0.5rem;
    border-radius: 1rem;
  }
  .choice .choice__card-sur > svg {
    background: #f1f1f5;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .choice .choice__card-sur > h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 13%;
  }
  .choice .choice__card-sur > p {
    font-size: 1.2rem;
    color: #858c92;
    margin-top: 3%;
  }
  .choice .choice__card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    background: #fff;
    padding: 2.5rem 0.5rem;
    border-radius: 1rem;
  }
  .choice .choice__card-custom > svg {
    background: #f1f1f5;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .choice .choice__card-custom > h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 13%;
  }
  .choice .choice__card-custom > p {
    font-size: 1.2rem;
    color: #858c92;
    margin-top: 3%;
  }
  #meun {
    background: #002550;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8.5vh;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
  }
  #meun .meun__home {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #meun .meun__home .meun__progress {
    width: 55%;
    background: #ff7300;
    height: 3.5px;
    border-radius: 1rem;
    margin-bottom: 10%;
  }
  #meun .meun__home h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ff7300;
    font-family: "NotoSansKR";
    margin-top: 3%;
    margin-bottom: 10%;
  }
  #meun .meun__cargo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #meun .meun__cargo .meun__progress {
    width: 55%;
    background: inherit;
    height: 3.5px;
    border-radius: 1rem;
    margin-bottom: 10%;
  }
  #meun .meun__cargo h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #9e9e9e;
    font-family: "NotoSansKR";
    margin-top: 3%;
    margin-bottom: 10%;
  }
  #meun .meun__run {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #meun .meun__run .meun__progress {
    width: 55%;
    background: inherit;
    height: 3.5px;
    border-radius: 1rem;
    margin-bottom: 10%;
  }
  #meun .meun__run h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #9e9e9e;
    font-family: "NotoSansKR";
    margin-top: 3%;
    margin-bottom: 10%;
  }
  #meun .meun__more {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #meun .meun__more .meun__progress {
    width: 55%;
    background: inherit;
    height: 3.5px;
    border-radius: 1rem;
    margin-bottom: 10%;
  }
  #meun .meun__more h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #9e9e9e;
    font-family: "NotoSansKR";
    margin-top: 3%;
    margin-bottom: 10%;
  }
}