@charset "UTF-8";
/* 스킵 메뉴 */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

/* 컨테이너 */
.container {
  width: 100%;
  /* max-width: 440px; */
  padding: 0 6%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 섹션 공통 요소 */
.section {
  padding: 120px 0;
}

.section > h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section > p {
  font-size: 22px;
  font-weight: 300;
  color: #666;
  text-align: center;
  margin-bottom: 70px;
  padding: 0 20px;
  word-break: keep-all;
  line-height: 1.5;
}

.section > span {
  display: block;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 16px;
}

/* 배경 */
.gray {
  background-color: #f5f5f5;
}

body {
  overflow: overlay;
  background: #f2f4f6;
}

/* fixed */
body.fixed {
  height: 100vh;
  overflow: hidden;
}

/* 간격 셋팅 */
.mb9 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt9 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.oneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.twoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.threeLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

:root {
  --font-kr: "NotoSansKR";
  --font-eng: "Roboto";
  --font-w100: 100;
  --font-w200: 200;
  --font-w300: 300;
  --font-w400: 400;
  --font-w500: 500;
  --font-w600: 600;
  --font-w700: 700;
  --font-w800: 800;
  --font-w900: 900;
  --lh1: 1;
  --black: #000;
  --white: #fff;
}

/* 변수 */
@media (max-width: 480px) {
  #section1 {
    height: 70vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 홀수번째 카드에 대한 스타일 */
  }
  #section1 #card-container {
    position: relative; /* 위치 지정 기준 설정 */
    height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  #section1 .card {
    position: absolute; /* 위치를 고정 */
    left: 0;
    width: 100%;
    height: 10rem;
    background: #858c92;
    border-radius: 1.5rem;
    margin-bottom: 5%;
    transition: top 0.5s ease-in-out; /* top 속성 변경 시 애니메이션 효과 */
  }
  #section1 .cardBand {
    border: 2px solid blue;
  }
  #section1 .move {
    animation: moveY 0.5s ease-in-out;
  }
  @keyframes moveY {
    from {
      transform: translateY(-200%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}